name: Build bootc image
on:
  push:
jobs:
  build:
    runs-on: ubuntu-24.04-arm
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    strategy:
      matrix:
        name: [stream10]
    steps:
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/setup-buildx-action@v3
      - uses: docker/build-push-action@v6
        with:
          context: "{{defaultContext}}:${{ matrix.name }}"
          target: base
          tags: "ghcr.io/nickcao/centos-bootc-tegra:${{ matrix.name }}"
          push: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
      - uses: docker/build-push-action@v6
        with:
          context: "{{defaultContext}}:${{ matrix.name }}"
          target: devel
          tags: "ghcr.io/nickcao/centos-bootc-tegra:${{ matrix.name }}-devel"
          push: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
